apiVersion: apps/v1
kind: Deployment
metadata:
  name: tpdevops-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: tpdevops
  template:
    metadata:
      labels:
        app: tpdevops
    spec:
      containers:
      - name: tpdevops
        image: "{{ image }}"
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8081